
{% load static %}
{% block layout_style %}
  <style type="text/css">
      @page {
        @bottom-center{size: A0;content: element(footer)}
        @top-center{size: A0; content: element(header)}
      }

      header{
        position: fixed;
        top: 0;
        left: 0;
        height: 2.5cm;
        width: 100%;
      }

      footer {
        position: fixed;
        bottom: 0;
        height: 10mm;
        text-align: center;
        font-size: 10px;
        width: 100%;
      }

      .logo {
        background-color: #015F78;
      }
      .navbar-brand {
        width: 200px
      }
      .p_opciones dd, .p_opciones dt {
          display: inline !important;
      }
      .text-black_opciones {
          font-weight: 700;
          color: #000;
      }
      .text-privado{
        background-color: black;
      }
  </style>
{% endblock %}
{% block extra_style %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
  <center> 
    <img src="{% static 'src/img/logo.png' %}" alt="Gobierno del estado de Jalisco"  style="width: 300px;margin-bottom: 1rem;"> 
    <h5> {{ institucion.nombre_institucion }} </h5>
    <hr>
  </center>
{% block content %}
<div class="page-container">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-9 py-4 printable">
        <h4>
          Fecha de declaración: {{ declaracion.fecha_declaracion|date:"D d M Y"|default_if_none:""}} <br>
          Fecha de recepción: {{ declaracion.fecha_recepcion|date:"D d M Y"|default_if_none:""}}
        </h4>
        {% include "declaracion/confirmacion/all_fields.html" %}
        <p><br><br><br><br></p>
      </div>
    </div>
  </div>
</div>
<footer>
  <h5>{{declaracion.cat_tipos_declaracion.tipo_declaracion}} {{declaracion.folio}}</h5>
</footer>
{% endblock %}