{% load static %}
{% load front_tags %}
{% include '../layout/headertop.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-3" style="padding: 8rem 0 0 0;">
      <center>
          <img src="{% static 'src/img/SEAJAL-Declaraciones-Preguntas_frecuentes_grafico.png' %}" alt="imagen decorativa para perfil" class="pb-3 float-sm-none">
          <h4 class="text-uppercase mt-5 line-height-md title-mobile text-primary-light">Preguntas frecuentes</h4>
          </center>
    </div>
    <div class="col-md-9">
     <section class="container my-md-7">
    <p class="txt-Servidor text-mobile mb-6">
      {% front_edit "sitio_faqs_div_intro" request.path request.LANGUAGE_CODE %}  
      A través de esta sección esperamos responder la mayoria de tus dudas,<br> si no es así, por favor ponte en contacto con el enlace de tu ente público.
      {% end_front_edit %}
    </p>
    <div class="accordion accordion-faq mb-7" id="faq">
      
        {% for question in questions %}
        <div class="card">
            <div class="card-header p-0" id="faq_{{ forloop.counter }}">
                <h2 class="mb-0">
                    <button class="btn btn-link w-100 p-3 pr-5 text-black font-weight-semibold text-left collapsed rounded-0" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse_{{ forloop.counter }}">{{ question.pregunta }}</button>
                </h2>
            </div>
            <div id="collapse_{{ forloop.counter }}" class="collapse" aria-labelledby="faq_{{ forloop.counter }}" data-parent="#faq">
                <div class="card-body text-md p-3">
                    <p>{{ question.respuesta|safe }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</section>
    </div>
  </div>
</div>

{% include '../layout/footer.html' %}
