{% load static %}
{% load front_tags %}
{% include 'layout/header.html' with body_bg=body_bg %}

<div class="index_container" style="max-width: 2000px; min-width: 300px; min-height: 1000px; margin-right: auto; margin-right: auto; position: fixed;">
<section class="container-fluid">
  
  <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="base_login_background text-center text-md-left mt-3">
          {% front_edit "sitio_index_img_logo" %}
          <img class="img-fluid absolute-center mt-3" src="/static/src/img/logo.png" width="60%">
          {% end_front_edit  %}
          {% front_edit "sitio_index_img_background" %}
          <div style="width: 100%; height: 100px;">
              <img id="image-login" class="img-fluid fixed-bottom" src="/static/src/img/SEAJAL-Declaraciones-Inicio-Guadalajara.png" style="margin-bottom: 75px !important; z-index: -1;">
          </div>
          {% end_front_edit  %}
        </div>
      </div>

      <div class="col-md-4 col-sm-12 row mb-1" style="margin-top: 100px;"> 
        <div class="col-12 text-center ">
          
          <h1 class="txtCVerdeSeco lhn font-weight-medium title-mobile text-mobile f300">Bienvenido</h1>
          
          <p class="text-center f200 lhn"> Al sistema de declaraciones <br> <span class="f150">de</span> <span class="text-primary-light font-weight-bold f200" id="269cd2452ec9b17252d19eaa20719eedebec86a9" >
            {% front_edit "sitio_index_div_jalisco" request.path %}Jalisco{% end_front_edit  %}
          </span></p>
        </div>
        <div class="col-12 row">
          {% if not user.is_staff and not user.is_superuser %}
          <div class="col-6">
          <a href="{% url 'declaracion:declaracion' %}" class="txtCAzulF">
            <figure class="text-center pr-3">
            <img src="{% static 'src/img/SEAJAL-Declaraciones-Index-Hacer_declaracion.png' %}" alt="Realiza tu declaración" width="100px" class="img-responsive">
            <figcaption> <strong> Realiza tu declaración </strong></figcaption>
            </figure>
          </a>
        </div>
          {%endif%}
          {% if not user.is_authenticated %}
          <div class="col-6">
            <a href="{% url 'declaracion:nuevo' %}" class="txtCAzulF">
              <figure class="text-center pl-3">
                <img src="{% static 'src/img/SEAJAL-Declaraciones-Index-Crear_cuenta.png' %}" alt="Crea tu cuenta" width="100px" class="img-responsive">
                <figcaption> <strong>Crea tu cuenta </strong></figcaption>
              </figure>
            </a>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
</section>
</div>

{% front_edit "sitio_index_img_footer" %}
<img class="img-fluid fixed-bottom" src="/static/src/img/index_footer.png">
{% end_front_edit  %}
        </div>
        <footer class="footer">
        </footer>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
