{% load static %}
{% load front_tags %}
{% include 'layout/header.html' with body_bg=body_bg %}

<div class="index_container" style="max-width: 2000px; min-width: 300px; min-height: 1000px; margin-right: auto; margin-right: auto; position: fixed;">
<section class="container-fluid">
  
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="base_login_background text-center text-md-left mt-3">
          {% front_edit "sitio_index_img_logo" %}
          <img class="img-fluid absolute-center mt-3" src="/static/src/img/logo.png" width="60%">
          {% end_front_edit  %}
          {% front_edit "sitio_index_img_background" %}
          <div style="width: 100%; height: 100px;">
              <img id="image-login" class="img-fluid fixed-bottom" src="/static/src/img/SEAJAL-Declaraciones-Inicio-Guadalajara.png" style="margin-bottom: 75px !important; z-index: -1;">
          </div>
          {% end_front_edit  %}
        </div>
    </div>

    <div class="col-lg-4 col-sm-12 row mb-1" style="margin-top: 100px;">
      
      <p class="Escribe-tus-datos-por-favor pl-3">
      {% front_edit "sitio_login_div_intro" request.path request.LANGUAGE_CODE %}Sistema de Declaraciones {% end_front_edit %}</p>

      {% if msg %}
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">¡Se han guardado tus datos!</h4>
          <!--<p>Revisa tu bandeja de entrada y sigue las  instrucciones para activar tu usuario.</p>-->
          <hr>
          <p>Ingresa tus datos para acceder</p>
          <!--<p class="mb-0">Da clic al enlace enviado a tu correo.</p>-->
        </div>
      {% endif %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="form-group valida_rfc pl-3">
          <label for="Usuario" class="sr-only">RFC</label>
          
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">RFC</div>
            </div>
              <input name="username" type="text" class="form-control {% if  form.username.errors  %}is-invalid{% endif %}"id="Usuario" aria-describedby="emailHelp" placeholder="" autocomplete="username" required>
          </div>

          {% if  form.username.errors  %}
            <div class="invalid-feedback was-validated">
              {{  form.username.errors     }}
            </div>
          {% endif %}
        </div>

        <div class="form-group pl-3">

          <label for="password" class="sr-only">Contraseña</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Contraseña</div>
            </div>
              <input name="password" type="password" class="form-control inputForm {% if  form.password.errors  %}is-invalid{% endif %}" id="password" placeholder="" autocomplete="current-password" required>
        </div>

        </div>

        {% if  form.password.errors  %}
          <div class="invalid-feedback was-validated">
            {{  form.password.errors     }}
          </div>
        {% endif %}
        <div class="mb-3 text-right">
          <button type="submit" class="btn btn-success text-uppercase font-weight-semibold">Ingresar</button>
        </div>
        <br>
        <div class="text-center">
          <!--a href="#ventana-modal" class="text-primary-light text-md font-weight-semibold d-inline-block mb-2" data-toggle="modal" data-target="#ventana-modal">Olvidé o deseo actualizar mi contraseña</a-->
          <p class="text-md font-weight-semibold text-gray-dark mb-0"><a href="{% url 'declaracion:nuevo' %}" class="btn btn-primary bgCVerdeSeco borderless">¡Regístrate!</a></p>
        </div>
      </form>
    </div>


  </div>

</section>
</div>
<!-- Ventana modal para recuperar la contraseña con RFC como Homoclave  -->
<div class="modal fade" id="ventana-modal" tabindex="-1" role="dialog" aria-labelledby="lost-password-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
          <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
        </button>
        <h3 class="modal-title mt-5 mb-3 text-lg text-uppercase font-weight-normal" id="lost-password-label">Para recuperar tu contraseña escribe tu <span class="text-black">RFC con homoclave</span> por favor</h3>
        <form action="{% url 'password_reset' %}" method="post" id="form_reset" class="mb-2">
          {% csrf_token %}
          <div class="form-group valida_rfc " id="rec-rfc">
            <input type="text" class="form-control bg-transparent" id="id_rfc_rs" name="rfc" placeholder="RFC con homoclave" required autofocus>
          </div>
        </form>
        <p class="text-success-lighter text-md">Si desconoces tu RFC o necesitas cambiarlo ponte en contacto con el enlace de tu ente público.</p>
        <div class="text-right">
          <button type="button" class="btn btn-primary font-weight-semibold" id="recuperar">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Ventana modal despues de que el usuario ya escribio el RFC como homoclave  -->
<div class="modal fade" id="modal-recuperar-contrasena" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
          <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
        </button>
        <h3 class="text-primary text-lg text-uppercase mt-7 mb-3">¡Muchas gracias!</h3>
        <p class="text-lg w-75 mb-7 mx-auto">Hemos envíado a tu correo las instrucciones para reestablecer la contraseña.</p>
      </div>
    </div>
  </div>
</div>
{% front_edit "sitio_index_img_footer" %}
<img class="img-fluid fixed-bottom" src="/static/src/img/index_footer.png">
{% end_front_edit  %}
        </div>
        <footer class="footer">
        </footer>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
