{% load static %}
{% include 'layout/headertop.html' %}
{% load bootstrap4 %}
{% load front_tags %}

<section class="container">
  <div class="row row-md my-5 py-5">
    <div class="col-md-4 col-sm-12">
      {% front_edit "declaracion_perfil_div_imgperfil" %}
      <img src="/static/src/img/SEAJAL-Declaraciones-Mi_cuenta_grafico.png" alt="imagen decorativa para perfil" class="pb-3 float-sm-none float-md-right ">
      {% end_front_edit %}
    </div>
    <div class="col-md-8 col-sm-12">
      <h1 class="text-gray text-xl font-weight-medium text-uppercase line-height-md title-mobile text-mobile border-bottom"><span class="text-primary-light font-weight-semibold hyphen-auto">{{ user.first_name|upper}} {{ user.last_name|upper}}</span></h1>
            {% if messages %}
                {% for message in messages %}

                        {% if message.tags == "success" %}
                            <div class="alert alert-success alert-dismissable alert-link">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                 <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissable alert-link">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                 <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                {% endfor %}
            {% endif %}
      <div class="pl-3 text-dark mb-5 row">
        <div class="like_table">
          
          <div class="like_table_row">
            <div class="like_table_cell text-right pr-3 text-secondary-light">Trabajas como</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{ infopersonalfija.puesto }}</strong></div>
          </div>

          <div class="like_table_row">
            <div class="like_table_cell text-right pr-3 text-secondary-light">En</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{infopersonalfija.nombre_ente_publico}}</strong></div>
          </div>

          <div class="like_table_row">
            <div class="like_table_cell text-right pr-3 text-secondary-light">Desde</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{infopersonalfija.fecha_inicio}}</strong></div>
          </div>
          <br>
          <div class="like_table_row"> 
            <div class="like_table_cell text-right pr-3 text-secondary-light">RFC</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{user.username|upper}}</strong></div>
          </div>
          <br>
          <div class="like_table_row">
            <div class="like_table_cell text-right pr-3 text-secondary-light">Tel&eacute;fono</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{infopersonalfija.telefono}}</strong></div>
          </div>
          <br>
          <div class="like_table_row">
            <div class="like_table_cell text-right pr-3 text-secondary-light">Correo Electr&oacute;nico</div>
            <div class="like_table_cell"><strong class="text-black text-dynamic text-secondary-light2">{{user.email}}</strong></div>
          </div>
        </div>          



      </div>
      <!--
      {% if not user.is_staff and not user.is_superuser %}
            <button class="btn btn-success-lighter text-uppercase font-weight-semibold" data-toggle="modal" data-target="#ventana-modal">Notificar cambio de ente público</button>
      {%endif%}
    -->
    </div>
    <!--div class="col-4 mb-5">
      <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row my-sm-7 ">
        {% if not user.is_staff and not user.is_superuser %}
          {% if declaracion %}
              <a href="{% url 'declaracion:informacion-general' declaracion.folio %}"
                 class="btn btn-success-lighter btn-index">
                  <span class="texto-chico-boton">CONCLUYE LA {{ declaracion.cat_tipos_declaracion|upper }} QUE TIENES EN CURSO</span>
                  <img src="{% static 'src/img/declarations_2.svg' %}" alt="Termina tu declaración" class="svg">
              </a>


          {% else %}
              <a href="{% url 'declaracion:declaracion' %}" class="btn btn-success-lighter btn-index">
                  Realiza tu declaración
                  <img src="{% static 'src/img/declarations.svg' %}" alt="Realiza tu declaración" class="svg">
              </a>

          {% endif %}
         {% endif %}

      </div>
        {% if not user.is_staff and not user.is_superuser %}
            {% if declaracion %}
              <div  class="d-flex justify-content-center align-items-center flex-column flex-sm-row ">
                  <div  id="">
                    <h6 id="progress_title" class="text-uppercase text-md">Avance de tu declaración</h6>
                    <div class="progress">
                      <div class="progress-bar bg-warning progress_card" role="progressbar" style="width: {{ declaracion.avance }}%;" aria-valuenow="{{ declaracion.avance }}" aria-valuemin="0" aria-valuemax="100">{{ declaracion.avance }}%</div>
                    </div>
                  </div>
                </div>

            {% endif %}
    {% endif %}

        </div-->

  </div>
  <div class="row row-md my-5 py-5 text-center" style="margin-top: 100px;">
    <div class="col-12">
      <img src="{% static 'src/img/SEAJAL-Declaraciones-Mi_cuenta-Icono_alerta.png' %}" alt="">
    </div>
    <div class="col-12 pt-3">
            {% front_edit "declaracion_perfil_div_avisocambios" request.path request.LANGUAGE_CODE %}
      <p>Si requieres cambiar alguno de tus datos <br> por favor ponte en contacto <br> con el enclace  de tu ente público</p>
      {% end_front_edit  %}
    </div>
  </div>

</section>
{% if not user.is_staff and not user.is_superuser %}
<div class="modal fade" id="ventana-modal" tabindex="-1" role="dialog" aria-labelledby="lost-password-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
          <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
        </button>
        <form action="{% url 'declaracion:perfil' %}" method="post"  class="mb-2"><!--id="form_dependencia"--->
            {% csrf_token %}
          <label for="dependency" class="h3 modal-title mt-5 mb-3 text-lg text-uppercase font-weight-normal text-center" id="lost-password-label">Selecciona tu ente público actual por favor</label>
          {% bootstrap_field form.nombre_ente_publico show_label=False %}
        </form>
        <div class="text-right mt-3">
          <button type="button" class="btn btn-success-lighter font-weight-semibold text-uppercase" id="cambiar-ente">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ventana modal despues de que el usuario ya escribio el RFC como homoclave  -->
<!--div class="modal fade" id="modal-cambia-ente" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
          <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
        </button>
        <h3 class="text-primary text-lg text-uppercase mt-7 mb-3">¡Muchas gracias!</h3>
        <p class="text-lg w-75 mb-7 mx-auto">Hemos enviado la notificación de tu cambio de ente público.</p>
      </div>
    </div>
  </div>
</div-->
{%endif%}
{% include 'layout/footer.html' %}
