{% load static %}
{% include 'layout/headertop.html' %}
{% load bootstrap4 %}
<section class="container-fluid container-offset-x my-md-7 py-7">
  
  <figure class="text-center">
    <img src="{% static 'src/img/SEAJAL-Declaraciones-Crear_cuenta-Grafico.png' %}" alt="crea tu cuenta">
    <figcaption class="txtCAzulF"> <h1>Crea tu cuenta </h1> </figcaption>
  </figure>

  <p class="text-gray-darker font-weight-light">Todos lo campos son obligatorios</p>
  <form action="{% if is_staff %}{% url 'declaracion:nuevo-usuario' %}{% else %}{% url 'declaracion:nuevo' %}{% endif %}" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-md-6">
            {% bootstrap_field form.nombres placeholder="NOMBRE(S)" field_class="solo_letras" addon_before='<span class="" >NOMBRE(S)</span>' %}
          </div>
          <div class="col-md-6">
              {% bootstrap_field form.apellido1 placeholder="Primer Apellido" field_class="solo_letras" addon_before='<span class="" >Primer Apellido</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.apellido2 placeholder="SEGUNDO APELLIDO" field_class="solo_letras" required=False addon_before='<span class="" >Segundo Apellido</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.rfc placeholder="RFC con homoclave" field_class='valida_rfc' addon_before='<span class="" >RFC</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.curp placeholder="CURP"  field_class='valida_curp' addon_before='<span class="" >CURP</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.nombre_ente_publico placeholder="Ente público al que pertenece" field_class="solo_letras" addon_before='<span class="" >Ente público</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.puesto placeholder="Empleo, cargo o comisión" field_class="solo_letras"  addon_before='<span class="" >Empleo</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.fecha placeholder="16/01/2018" addon_before='<span class="" >Fecha Ingreso</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.entidad placeholder="Entidad Federativa" field_class="entidad" addon_before='<span class="" >Entidad Federativa</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.pais placeholder="País de origen" field_class="pais" addon_before='<span class="" >País de origen</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.contrasena1 placeholder="Contraseña" addon_before='<span class="" >Contraseña</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.telefono placeholder="Teléfono" field_class="valida_telefono" addon_before='<span class="" >Teléfono</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.contrasena2 placeholder="Confirmar Contraseña" addon_before='<span class="" >Confirmar Contraseña</span>' %}
          </div>
          <div class="col-md-6">
            {% bootstrap_field form.email placeholder="Correo electrónico" field_class='valida_email' addon_before='<span class="" >Correo Electrónico</span>'  %}
          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-success text-uppercase mt-5">Crear cuenta</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% include 'layout/footer.html' %}
