{% load static %}
{% include 'layout/headertop.html' %}
{% load bootstrap4 %}
<section class="container-fluid container-offset-x my-md-7 py-7">
  <figure class="text-center">
    <img src="{% static 'src/img/SEAJAL-Declaraciones-Crear_cuenta-Grafico.png' %}" alt="crea tu cuenta">
    <figcaption class="txtCAzulF">
    	<h1>RFC no registrado previamente por usuario administrativo</h1>
    	<h2 class="txtCVerdeSeco">Para crear su cuenta solicite darse de alta</h2>
  	    <p class="text-md font-weight-semibold text-gray-dark mb-0"><a href="{% url 'declaracion:nuevo' %}" class="btn btn-primary bgCVerdeSeco borderless">Regresar</a></p>
    </figcaption>
  </figure>
</section>
{% include 'layout/footer.html' %}