{% load static %}
{% load front_tags %}
        </div>
        <footer class="footer">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12 text-right p-0">
                        {% front_edit "layout_footer_div_logosec" %}
                        <img src="/static/src/img/SEAJAL-Declaraciones-Inicio-Logo-footer.png" alt="logo seajal blanco secundario" style="bottom: 145px;">
                        {% end_front_edit %}
                    </div>
                     <div class="col-md-2 col-sm-12 offset-md-4 text-right">
                        <div class="d-flex">
                            {% front_edit "layout_footer_div_info" %}
                            <div>
                                <p class="m-0">Sistema Estatal Anticorrupción del Estado de Jalisco</p>
                                <p class="m-0">Av. de los Arcos 767, Colonia Jardines del Bosque, C.P. 44520</p>
                                <p class="m-0">Guadalajara, Jalisco, México.</p>

                                <p class="m-0 pt-3">Teléfonos 33 2472 6011 y 33 2472 6012</p>
                                <p class="m-0">contacto@sesaj.org</p>
                            </div>
                            {% end_front_edit %}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
