{% load static %}
{% include './header.html' %}
{% load front_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success-lighter header">
  <div class="navbar-brand" style="overflow: hidden;">
    {% front_edit "layout_headertop_div_logo" %}
    <img src="/static/src/img/logo.png" alt="SEAJA-Declaraciones-Inicio_logo" class="header-logo">
    {% end_front_edit %}
  </div>
  <button class="navbar-toggler custom-toggler btn bg1" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
    <div class="custom-toggler__box">
      <div class="custom-toggler__bar"></div>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="header-nav" >
    <div class="navbar-nav mr-auto text-sm align-items-lg-center font-weight-semibold mt-3 mt-lg-0">
        {% if user.is_authenticated %}

            {% if not user.is_staff and not user.is_superuser  %}
                <a class="nav-item nav-link text-uppercase d-lg-none" href="/">Mi
                    Inicio</a>
                <a class="nav-item nav-link text-uppercase d-lg-none" href="{% url 'declaracion:perfil' %}">Mi
                    cuenta</a>
                <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:declaracion' %}">Realizar
                    declaración</a>
                <!--a class="nav-item nav-link text-uppercase" href="{% url 'informacion' %}">Información</a-->
                <a class="nav-item nav-link text-uppercase" href="{% url 'declaraciones-previas' %}">Declaraciones
                    previas</a>
                <a class="nav-item nav-link text-uppercase" href="{% url 'preguntas-frecuentes' %}">Preguntas
                    frecuentes</a>
            {% else %}
                <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:busqueda-declarantes' %}">Declarantes</a>
                <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:busqueda-declaraciones' %}">Declaraciones</a>
                <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:declaraciones-graficas' %}">Gráficas</a>
                {% if user.is_superuser %}
                    <a class="nav-item nav-link text-uppercase" href="{% url 'declaracion:busqueda-usuarios' %}">Usuarios</a>
                {% endif %}

            {% endif %}
        {% else %}
            <a class="nav-item nav-link text-uppercase" href="{% url 'preguntas-frecuentes' %}">Preguntas frecuentes</a>
        {% endif %}

      {% if user.is_authenticated %}
        <a class="nav-item nav-link text-uppercase d-lg-none" href="{% url 'logout' %}">Cerrar sesión</a>
      {% endif %}
    </div>
   
  </div>

   
<div class="vl d-none d-lg-block bg1 p-xl-0" style="height: 85px; z-index: 999; width: 150px; ">
      {% if user.is_authenticated %}
        <div class="dropdown header__dropdown h-100">
          <button class="btn btn-link dropdown-toggle h-100 py-0 px-1 d-flex align-items-center " type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{% static 'src/img/SEAJAL-Declaraciones-Mi_cuenta-Icono_cuenta.png' %}" alt="Usuario" class="svg mr-2">
            <span style="align-self: center;font-size: 16px;"><a href="{% url 'declaracion:perfil' %}" style=" color: #fff;">Mi cuenta</a></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="user-menu">
            <a class="dropdown-item text-sm" href="{% url 'declaracion:perfil' %}">Mi cuenta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-sm" href="{% url 'logout' %}">Cerrar sesión</a>
          </div>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="header__login d-flex flex-column align-items-center justify-content-center h-100 txtCW">
          <img src="{% static 'src/img/candado-cerrado.svg' %}" alt="Inicia sesión" class="mb-2 svg svg-currentcolor">
          <p class="font-weight-bold text-uppercase m-0">Ingresar</p>
        </a>
      {% endif %}
    </div>

</nav>
<div class="page-content">
