{% load static %}
{% load bootstrap4 %}
<label for="cargo-municipio" class="label-secondary ">{%if label %}{{label}}{% else %}Especifique país{%endif%}{% if pais %}<span class="text-danger text-lg font-weight-bold">*</span>:{% endif %}</label>

    <div class="row form-group-private">
        <div class="col-3">
            <div class="custom-control custom-radio custom-control-inline radio-secondary">
                <input {% if field.initial == 142 %} checked{% endif %} type="radio"  id="id-{{field.html_name}}-mx" value="mx" name="{{ field.html_name }}-mx" class="custom-control-input pais-rmx" onchange="dui.radioMx(this.value,'id_{{ field.html_name }}')" onclick="accion_hide_disabled_show(this);">
                <label class="custom-control-label text-rg" for="id-{{field.html_name}}-mx">México</label>
            </div>
        </div>
        <div class="col-3">
            <div class="custom-control custom-radio custom-control-inline radio-secondary">
                <input type="radio" id="id-{{ field.html_name }}-ex" {% if field.initial and not field.initial == 142 %} checked{% endif %} value="ex" name="{{ field.html_name }}-mx" class="custom-control-input " onchange="dui.radioMx(this.value,'id_{{ field.html_name }}')" onclick="accion_hide_disabled_show(this);">
                <label class="custom-control-label text-rg" for="id-{{ field.html_name }}-ex">Extranjero</label>
            </div>
        </div>
        <div class="col-6" >
            <div id="id_{{ field.html_name }}_container">
               {% bootstrap_field field show_label=False field_class="pais"  %}
               {% if only %}
                    <label for="cargo-tel" class="label-secondary">CIUDAD/LOCALIDAD</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Ciudad o localidad extranjera">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                      {% bootstrap_field form.ciudadLocalidad show_label=False placeholder="Ciudad/Localidad" %}
                      
                    <label for="cargo-tel" class="label-secondary">ESTADO/PROVINCIA</label>
                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Estado o provincia extranjero">
                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                    </button>
                    {% bootstrap_field form.estadoProvincia show_label=False placeholder="Estado/Provincia" %}
                    
                {% endif %}
            </div>
        </div>
    </div>