{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}
{% no_aplica as checked %} 
{% block content %}
<div class="container-fluid h-100">
	<div class="row h-100">
		{% include 'layout/sidebar.html'%}
		<div class="col-md-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
					<li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
					<li class="breadcrumb-item"><a href="#" class="text-reset">Activos</a></li>
					<li class="breadcrumb-item active" aria-current="page">Bienes inmuebles</li>
				</ol>
			</nav>
			<h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
			<h2 class="h6 text-uppercase mb-3">4. Activos <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">I. BIENES DEL DECLARANTE,PAREJA Y/O DEPENDIENTE ECONÓMICOS</span></h2>
			{% if agregar %}
			  <form action="{% url 'declaracion:bienes-inmuebles-agregar' folio_declaracion %}" method="post" novalidate>
			{% elif editar_id %}
			  <form action="{% url 'declaracion:bienes-inmuebles-editar' folio_declaracion editar_id %}" method="post" novalidate>
			{% else %}
			  <form action="{% url 'declaracion:bienes-inmuebles' folio_declaracion %}" method="post" novalidate>
			{% endif %}
				{% csrf_token %}
				<div class="row">
					{% include 'layout/no_aplica.html' %}
				</div>
				{% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="TIPO DE OPERACIÓN" titulo_dos="Forma de adquisición" titulo_tres="Titular" agregar=agregar editar_id=editar_id %}
				<div class="row row-form" style="{% if checked %}display: none;{% endif %}">
					<div class="col-12 my-2">
						<label class="label-secondary">TIPO DE OPERACIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN realizada al bien inmueble.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button> {% include 'layout/radiobuttons.html' with field_select=bienes_inmuebles_form.fields.cat_tipos_operaciones field_name=bienes_inmuebles_form.cat_tipos_operaciones otro_name=bienes_inmuebles_form.otro_tipo_operacion col=2 col_o=4 %}
					</div>
					<div class="col-12 my-2">
						<label class="label-secondary">TIPO DE INMUEBLE</label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de bien inmueble que se declara.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                        </button>
						<div class="form-row">
							{% include 'layout/radiobuttons.html' with field_select=bienes_inmuebles_form.fields.cat_tipos_inmuebles field_name=bienes_inmuebles_form.cat_tipos_inmuebles otro_name=bienes_inmuebles_form.otro_tipo_inmueble col=2 col_o=4 %}
						</div>
					</div>
					<div class="col-12 my-2">
						<label class="label-secondary">TITULAR DEL INMUEBLE<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indique el tipo de titular del inmueble.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button>
						<div>
							{% include 'layout/radiobuttons.html' with field_select=bienes_inmuebles_form.fields.cat_tipos_titulares field_name=bienes_inmuebles_form.cat_tipos_titulares otro_name=bienes_inmuebles_form.otro_titular col=3 col_o=4 %}
						</div>
					</div>
					<div class="col-md-4">
						<label class="label-secondary">PORCENTAJE DE PROPIEDAD<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Porcentaje de participación en copropiedad.">
							<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button> {% bootstrap_field bienes_personas_form.porcentaje show_label=False placeholder="Porcentaje de propiedad" %}
					</div>
					<div class="col-md-4">
						<div class="form-group {% if 'superficie_terreno' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">SUPERFICIE DEL TERRENO<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Superficie total en m2 del bien inmueble.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.superficie_terreno show_label=False placeholder="Superficie del Terreno" %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group {% if 'superficie_construccion' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">SUPERFICIE DE LA CONSTRUCCIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Superficie de construcción en m2 del bien inmueble.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.superficie_construccion show_label=False placeholder="Superficie de la construcción" %}
						</div>
					</div>
					<div class="col-md-12">
                        {% include 'layout/persona.html' with form=copropietario_form title="TERCERO" label="del copropietario" tipo=True%}
                    </div>
                    <div class="col-md-6">
                     	<div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary">RFC del copropietario <small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field  copropietario_form.rfc  field_class='valida_rfc'  show_label=False placeholder="RFC del copropietario" %}
                        </div>
                    </div>
                    <div class="col-12 my-2">
						<label class="label-secondary">FORMA DE ADQUISICIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar la forma como se obtuvo el bien inmueble (compra, herencia, etc.)">
							<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button>
						<div>
							{% include 'layout/radiobuttons.html' with field_select=bienes_inmuebles_form.fields.cat_formas_adquisiciones field_name=bienes_inmuebles_form.cat_formas_adquisiciones otro_name=bienes_inmuebles_form.otra_forma  col=2 col_o=4  %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group {% if 'forma_pago' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">FORMA DE PAGO<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Superficie de construcción en m2 del bien inmueble.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.forma_pago show_label=False placeholder="Forma de pago" %}
						</div>
					</div>
					<div class="col-12 my-2">
						{% include 'layout/persona.html' with form=propietario_anterior_form  title='TRANSMISOR' %}
					</div>
					<div class="col-md-6">
						<div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
							<label  class="label-secondary">RFC TRANSIMISOR</label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field propietario_anterior_form.rfc show_label=False placeholder="RFC de quien se adquirió el inmueble" %}
						</div>
					</div>
					<div class="col-12 my-2">
						<label class="label-secondary">RELACIÓN DEL TRANSMISOR DE LA PROPIEDAD CON EL TITULAR<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar la Relación con la persona a quien adquisió el inmueble">
							<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button>
						<div>
							{% include 'layout/radiobuttons.html' with field_select=bienes_personas_form.fields.tipo_relacion  field_name=bienes_personas_form.tipo_relacion col_o=3 col=2 tipo='tipo_relacion' campos_privados=campos_privados %}

						</div>
					</div>



                    <div class="col-md-12">
						<h6>IDENTIFICACIÓN DEL BIEN</h6>
					</div>
					<div class="col-md-12">
						<div class="form-group {% if 'num_registro_publico' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">DATOS DEL REGISTRO PÚBLICO DE LA PROPIEDAD FOLIO REAL U OTRO DATO QUE PERMITA SU IDENTIFICACIÓN <span class="text-danger text-lg font-weight-bold">*</span> </label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Número del registro público de propiedad.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.num_registro_publico show_label=False placeholder="Número del registro público de propiedad" %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group {% if 'fecha_adquisicion' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">FECHA DE ADQUISICIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="dd/mm/aaaa">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.fecha_adquisicion show_label=False placeholder="Fecha de adquisición" %}
						</div>
					</div>
					<div class="col-md-4">
                        <div class="{% if 'precio_adquisicion' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary">VALOR ADQUISICIÓN<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Monto según la escritura.">
                                <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                            </button> {% bootstrap_field bienes_inmuebles_form.precio_adquisicion show_label=False placeholder="Precio de adquisición" %}
                        </div>
					</div>
					<div class="col-md-4">
	                    <div class="form-group {% if 'cat_monedas' in campos_privados %}form-group-private{% endif %}">
	                        <label class="label-secondary">MONEDA<span class="text-danger text-lg font-weight-bold">*</span></label> {% bootstrap_field bienes_inmuebles_form.cat_monedas show_label=False placeholder="Moneda" %}
	                    </div>
	                </div>
					<div class="col-md-6">
						<div class="form-group {% if 'valor_conforme_a' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">¿EL VALOR DE ADQUISICIÓN DEL INMUEBLE ES CONFORMA A?<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="dd/mm/aaaa">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field bienes_inmuebles_form.valor_conforme_a show_label=False placeholder="Fecha de adquisición" %}
						</div>
					</div>
						<div class="col-md-12">
	                    <br>
	                    <h6>
	                        Domicilio
	                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Lugar donde se ubica.">
	                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
	                        </button>
	                    </h6>
	                </div>
	                {% include 'declaracion/direccion.html' with form=domicilio_form only=True%}

	                 <div class="col-12 my-2">
						<label class="label-secondary">EN CASO DE BAJA DEL INMUEBLE INCLUIR MOTIVO</label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En caso de baja  del inmueble incluir el motivo de las siguientes opciones">
							<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
						</button>
						<div>
							{% include 'layout/radiobuttons.html' with field_select=bienes_inmuebles_form.fields.cat_motivo_baja field_name=bienes_inmuebles_form.cat_motivo_baja otro_name=bienes_inmuebles_form.otra_forma  col=2 col_o=4  %}
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group {% if 'observacion' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary" for="textForm">ACLARACIONES/OBSERVACIONES<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Detallar información respecto al inmueble.">
								<img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
							</button> {% bootstrap_field observaciones_form.observacion show_label=False placeholder="ACLARACIONES/OBSERVACIONES" %}
						</div>
					</div>
				</div>

				<div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
		            <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
		                Guardar y agregar otro bien inmueble <img src="{% static 'src/img/plus.svg' %}" alt="agregar" class="svg">
		            </button>
		        </div>
		          {% include 'layout/guardar.html' %}
		        <div class="row"><div class="col-12"><br/></div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}