{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}
{% no_aplica as checked %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html'%}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Activos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inversiones, cuentas, valores</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">I. Declaración patrimonial <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">XIII.  INVERSIONES, CUENTAS BANCARIAS Y OTRO TIPO DE VALORES / ACTIVOS (SITUACION ACTUAL)</span></h2>

            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
            {% if agregar %}
              <form action="{% url 'declaracion:inversiones-agregar' folio_declaracion %}" method="post" novalidate>
            {% elif editar_id %}
              <form action="{% url 'declaracion:inversiones-editar' folio_declaracion editar_id %}" method="post" novalidate>
            {% else %}
              <form action="{% url 'declaracion:inversiones' folio_declaracion %}" method="post" novalidate>
            {% endif %}
                {% csrf_token %}
                <div class="row">
                  {% include 'layout/no_aplica.html' %}
                </div>
                {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Tipo de operación" titulo_dos="Tipo de inversión" titulo_tres="Titular" agregar=agregar editar_id=editar_id %}
                <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                    <div class="col-12">
                        <label class="label-secondary mb-2">TIPO DE OPERACIÓN{% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN de la inversión, cuenta, valor.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_operaciones  field_name=form.cat_tipos_operaciones otro_name=form.otra_operacion  col=2 col_o=6 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-12">
                        <label class="label-secondary mb-2">TIPO DE INVERSIÓN/ACTIVO{% if 'cat_tipos_inversiones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de inversión de la inversión, cuenta, valor.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                     {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_inversiones  field_name=form.cat_tipos_inversiones otro_name=form.otra_inversion  col=2 col_o=6 tipo='cat_tipos_inversiones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-12">
                        <label class="label-secondary mb-2">TITULAR DE LA INVERSION, CUENTA BANCARIA Y OTRO TIPO DE VALORES{% if 'cat_tipos_titulares' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indique el tipo de titular de la inversión.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_titulares  field_name=form.cat_tipos_titulares otro_name=form.otro_tipo_titular tipo='cat_tipos_titulares' campos_privados=campos_privados %}
                    </div>
                    <div class="col-12">
                        <label class="label-secondary mb-2">BANCARIA{% if 'cat_tipos_especificos_inversiones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_especificos_inversiones  field_name=form.cat_tipos_especificos_inversiones otro_name=form.otro_tipo_especifico  col=2 col_o=6  tipo='cat_tipos_especificos_inversiones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-12 my-2">
                        {% include 'layout/persona_simp.html' with form=info_personal_var_form label=" inversión" title="TERCERO" tipo=False %}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">RFC TERCERO{% if 'rfc' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            <small class="text-help text-primary">(Si aplica)</small>
                            {% bootstrap_field info_personal_var_form.rfc  field_class='valida_rfc'  show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-4">
                        <div class="form-group {% if 'fondo_inversion' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">FONDOS DE INVERSION{% if 'fondo_inversion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.fondo_inversion  show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'organizaciones' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">ORGANIZACIONES PRIVADAS Y/O COMERCIALES{% if 'organizaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.organizaciones  show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'posesiones' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">POSESIÓN DE MONEDAS Y/O METALES{% if 'posesiones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.posesiones  show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'seguros' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">SEGUROS{% if 'seguros' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.seguros  show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group {% if 'valores_bursatiles' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">VALORES BURSÁTILES{% if 'valores_bursatiles' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.valores_bursatiles  show_label=False%}
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="form-group {% if 'afores' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">AFORES{% if 'afores' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar cualquiera de las siguientes opciones.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.afores  show_label=False%}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group {% if 'num_cuenta' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2">NÚMERO DE CUENTA, CONTRATO O POLIZA{% if 'num_cuenta' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar el número de cuenta, contrato, póliza o cualquier dato que permita su identificación.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.num_cuenta  show_label=False%}
                        </div>
                    </div>

                    <div class="col-md-8">
                        <label class="label-secondary ">¿DONDE SE LOCALIZA LA INVERSIÓN, CUENTA BANCARIA Y OTRO TIPO DE VALORES/ACTIVOS?{% if 'cat_paises' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar el tipo de territorio.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/nacionalidad.html' with field=form.cat_paises %}
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-md-5">
                        <div class="form-group {% if 'saldo_actual' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2 ">SALDO DE LA FECHA(SITUACION ACTUAL){% if 'saldo_actual' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Es necesario capturar cantidades sin comos, sin puntos, sin centavos y sin ceros a la izquierda.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.saldo_actual show_label=False%}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group {% if 'cat_monedas' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary mb-2 ">TIPO DE MONEDA{% if 'cat_monedas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Deverá seleccionar la moneda reativa a la cuenta.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.cat_monedas field_class="moneda" show_label=False%}
                        </div>
                    </div>
                </div>
                <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                    <div class="col-9"></div>
                    <div class="col-3 text-right">
                        <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
                          Guardar y agregar otra inversión<img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
                            <label for="observaciones" class="label-secondary ">ACLARACIONES/OBSERVACIONES{% if 'observacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En este espacio el declarante podrá realizar las aclaraciones u observaciones que considere pertinentes respecto de algun o algunos de,los incisos de este apartado.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field  observaciones_form.observacion     show_label=False%}
                        </div>
                    </div>
                </div>
                {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}