{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}
{% no_aplica as checked %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		{% include 'layout/sidebar.html'%}
		<div class="col-md-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
					<li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
					<li class="breadcrumb-item"><a href="#" class="text-reset">Intereses</a></li>
					<li class="breadcrumb-item active" aria-current="page">Beneficios gratuitos distintos a efectivo y bienes. (No recibidos por motivo del encargo)</li>
				</ol>
			</nav>
			<h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">2. Interes <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">VI. Beneficios gratuitos distintos a efectivo y bienes. (No recibidos por motivo del encargo)</span></h2>

            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
			{% if agregar %}
			  <form action="{% url 'declaracion:beneficios-gratuitos-agregar' folio_declaracion %}" method="post" novalidate>
			{% elif editar_id %}
			  <form action="{% url 'declaracion:beneficios-gratuitos-editar' folio_declaracion editar_id %}" method="post" novalidate>
			{% else %}
			  <form action="{% url 'declaracion:beneficios-gratuitos' folio_declaracion %}" method="post" novalidate>
			{% endif %}
  			{% csrf_token %}
			<div class="row">
				{% include 'layout/no_aplica.html' %}
			</div>
			{% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Tipo de Beneficio" titulo_dos="Beneficiario" titulo_tres="Sector / industria" agregar=agregar editar_id=editar_id %}
			<div class="row row-form" style="{% if checked %}display: none;{% endif %}">
					<div class="col-12 my-2">
                        <label class="label-secondary">TIPO DE OPERACIÓN{% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN realizada al bien inmueble.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                        </button> {% include 'layout/radiobuttons.html' with field_select=beneficios_gratuitos_form.fields.cat_tipos_operaciones field_name=beneficios_gratuitos_form.cat_tipos_operaciones otro_name=beneficios_gratuitos_form.otro_tipo_operacion col=2 col_o=4 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                    </div>
					<div class="col-md-12">
						<div class="form-group">
	                        <label class="label-secondary">BENEFICIARIO{% if 'cat_tipos_relaciones_personales' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
	                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Son las personas que reciben el apoyo o beneficio privado.De las opciones del catálogo indicar quien o quienes son los beneficiarios, señalar las veces que sean necesarias.">
	                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
	                        </button>
	                         {% include 'layout/radiobuttons.html' with field_select=beneficios_gratuitos_form.fields.cat_tipos_relaciones_personales  field_name=beneficios_gratuitos_form.cat_tipos_relaciones_personales otro_name=beneficios_gratuitos_form.otros_beneficios col=2 col_o=3 tipo='cat_tipos_relaciones_personales' campos_privados=campos_privados %}
	                     </div>
                    </div>
	  				<div class="col-md-12">
                        <label class="label-secondary">TIPO DE BENEFICIO{% if 'cat_tipos_beneficios' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de beneficio.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                         {% include 'layout/radiobuttons.html' with field_select=beneficios_gratuitos_form.fields.cat_tipos_beneficios  field_name=beneficios_gratuitos_form.cat_tipos_beneficios otro_name=beneficios_gratuitos_form.otros_beneficios col=2 col_o=4 tipo='cat_tipos_beneficios' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-12"><br></div>
	  				<div class="col-12">
                        <h6>INFORMACIÓN DEL TITULAR</h6>
                    </div>
                    <div class="col-12">
                        {% include 'layout/persona_simp.html' with form=info_personal_var_form title="Información del titular" label=" del otorgante" tipo=True %}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
                            <label class="label-secondary">RFC DEL OTORGANTE{% if 'rfc' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %} <small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field  info_personal_var_form.rfc  field_class='valida_rfc' show_label=False placeholder="RFC del otorgante" %}
                        </div>
                    </div>
                    <div class="col-md-4">
	  					<div class="form-group {% if 'forma_recepcion' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">FORMA RECEPCIÓN{% if 'cat_entidades_federativas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar si el apoyo recibido es monetario o en especie">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
							{% bootstrap_field  beneficios_gratuitos_form.forma_recepcion show_label=False placeholder="Forma de recepción" %}
						</div>
	  				</div>
                    <div class="col-md-12">
  						<div class="form-group {% if 'especifiqueBeneficio' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary" for="textForm">ESPECIFIQUE BENEFICIO{% if 'especifiqueBeneficio' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %} <small class="text-help text-primary">(si se especifica ESPECIE)</small></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En caso de haber seleccionado en especie deberá describir en que consiste el beneficio">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
						    {% bootstrap_field  beneficios_gratuitos_form.especifiqueBeneficio show_label=False placeholder="Especifique beneficio" %}
						 </div>
  					</div>
  					<div class="col-md-4">
	  					<div class="form-group {% if 'valor_beneficio' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">MONTO MENSUAL APROXIMADO {% if 'valor_beneficio' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %} </label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Es necesario capturar sin comas, sin puntos, sin centavos ysin ceros a la izquierda">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
							{% bootstrap_field  beneficios_gratuitos_form.valor_beneficio show_label=False placeholder="Valor del beneficio" %}
						</div>
	  				</div>
	  				<div class="col-md-4">
	  					<div class="form-group {% if 'moneda' in campos_privados %}form-group-private{% endif %}">
							<label class="label-secondary">MONEDA{% if 'moneda' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Sñalar tipo de moneda en que se recibe el beneficio">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
							{% bootstrap_field  beneficios_gratuitos_form.moneda show_label=False placeholder="Moneda" %}
						</div>
	  				</div>
  					<div class="col-md-12">
  						 <label class="label-secondary mb-2">Sector / industria{% if 'cat_sectores_industria' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar el sector del beneficiario.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=beneficios_gratuitos_form.fields.cat_sectores_industria  field_name=beneficios_gratuitos_form.cat_sectores_industria otro_name=beneficios_gratuitos_form.otro_sector col=4 col_o=4 tipo='cat_sectores_industria' campos_privados=campos_privados %}
  					</div>
  			</div>
  			 <div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
                <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
					Guardar y agregar otro beneficio
                    <img src="/static/src/img/plus.svg" alt="agregar" class="svg">
                </button>
            </div>
            <div class="row">
            	<div class="col-md-12">
					<div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
						<label class="label-secondary" for="textForm">ACLARACIONES/OBSERVACIONES{% if 'observacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En este espacio el declarante podrá realizar las aclaraciones u observaciones que considere pertinentes respecto de algun o algunos de,los incisos de este apartado.">
							<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
						</button>
					    {% bootstrap_field  observaciones_form.observacion show_label=False placeholder="ACLARACIONES/OBSERVACIONES" %}
					</div>
				</div>
            </div>
            {% include 'layout/guardar.html' %}
			<div class="row"><div class="col-12"><br/></div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}