{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}
{% no_aplica as checked %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html'%}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Intereses</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Clientes principales</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 mb-3 text-uppercase">2. INTERESES <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">V. Clientes principales</span></h2>

            {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger alert-dismissable alert-link">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                           <strong>{{ message }}</strong>
                      </div>
              {% endfor %}
            {% endif %}
            
            {% if agregar %}
              <form action="{% url 'declaracion:clientes-principales-agregar' folio_declaracion %}" method="post" novalidate>
            {% elif editar_id %}
              <form action="{% url 'declaracion:clientes-principales-editar' folio_declaracion editar_id %}" method="post" novalidate>
            {% else %}
              <form action="{% url 'declaracion:clientes-principales' folio_declaracion %}" method="post" novalidate>
            {% endif %}
               {% csrf_token %}
               <div class="row">
                 {% include 'layout/no_aplica.html' %}
               </div>
               {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Nombre o naturaleza del negocio / actividad lucrativa" titulo_dos="Número de registro" titulo_tres="Sector / industria" agregar=agregar editar_id=editar_id %}
               <div class="row row-form" style="{% if checked %}display: none;{% endif %}">
                   <div class="col-12 my-2">
                        <label class="label-secondary">TIPO DE OPERACIÓN{% if 'cat_tipos_operaciones' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar TIPO DE OPERACIÓN realizada al bien inmueble.">
                            <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                        </button> {% include 'layout/radiobuttons.html' with field_select=clientes_principales_form.fields.cat_tipos_operaciones field_name=clientes_principales_form.cat_tipos_operaciones otro_name=clientes_principales_form.otro_tipo_operacion col=2 col_o=4 tipo='cat_tipos_operaciones' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nombre-representacion" class="label-secondary">TIPO DE RELACIÓN{% if 'cat_tipos_relaciones_personales' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre o Nombres completos sin abreviaturas ni signos especiales.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                          {% include 'layout/radiobuttons.html' with field_select=clientes_principales_form.fields.cat_tipos_relaciones_personales field_name=clientes_principales_form.cat_tipos_relaciones_personales otro_name=clientes_principales_form.otro_tipo_operacion col=3 col_o=3 tipo='cat_tipos_relaciones_personales' campos_privados=campos_privados %}
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="label-secondary">REALIZA ACTIVIDAD LUCRATIVA{% if 'realizaActividadLucrativa' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Recibe remuneración o no.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="row">
                          <div class="custom-control custom-radio custom-control-inline radio-secondary d-flex align-items-center">
                              <input type="radio" id="realiza" name="clientes_principales-realizaActividadLucrativa" class="custom-control-input" value="True" {% if clientes_principales_form.realizaActividadLucrativa.initial == 1 %} checked {% endif %}>
                              <label class="custom-control-label text-rg" for="realiza">Si</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline radio-secondary">
                              <input type="radio" id="no-realiza" name="clientes_principales-realizaActividadLucrativa" class="custom-control-input" value="False" {% if clientes_principales_form.realizaActividadLucrativa.initial == 0 %} checked {% endif %}>
                              <label class="custom-control-label text-rg" for="no-realiza">No</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-8">
                         <div class="form-group {% if 'nombre_negocio' in campos_privados %}form-group-private{% endif %}">
                            <label for="tipo-representacion" class="label-secondary">NOMBRE DE LA EMPRESA O SERVICIO PROPORCIONADO{% if 'nombre_negocio' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar nombre o razón social completos de la empresa o en su caso del servicio que proporciona">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.nombre_negocio  show_label=False%}
                        </div>
                    </div>
                     <div class="col-4">
                        <div class="form-group {% if 'rfc_negocio' in campos_privados %}form-group-private{% endif %}">
                            <label for="curp-representada" class="label-secondary">RFC{% if 'rfc_negocio' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}<small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Establecer los 12 digitos de la empresa.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.rfc_negocio  field_class='valida_rfc' show_label=False placeholder="RFC del negocio" %}
                        </div>
                    </div>
                    <div class="col-md-12">
                      {% include 'layout/persona_simp.html' with form=info_personal_var_form label=" del cliente principal del negocio o actividad lucrativa" title="CLIENTE PRINCIPAL" tipo=False %}
                    </div>

                    <div class="col-4">
                        <div class="form-group {% if 'rfc' in campos_privados %}form-group-private{% endif %}">
                            <label for="curp-representada" class="label-secondary">RFC DEL CLIENTE PRINCIPAL{% if 'rfc' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}<small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.rfc  field_class='valida_rfc' show_label=False placeholder="RFC del cliente principal" %}
                        </div>
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-12">
                        <label class="label-secondary mb-2 ml-3">SECTOR PUBLICO AL QUE PERTENECE{% if 'cat_sectores_industria' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Seleccionar el sector al que pertenece.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=info_personal_var_form.fields.cat_sectores_industria  field_name=info_personal_var_form.cat_sectores_industria otro_name=info_personal_var_form.otro_sector col=4 col_o=4 tipo='cat_sectores_industria' campos_privados=campos_privados %}
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-6">
                        <div class="form-group {% if 'monto' in campos_privados %}form-group-private{% endif %}">
                            <label for="monto" class="label-secondary">MONTO APROXIMADO DEL BENEFICIO O GANANCIA MENSUAL{% if 'monto' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Deberá señalar el monto neto sin centavos de la ganancia que le genera el cliente principal">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field clientes_principales_form.monto show_label=False%}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group {% if 'moneda' in campos_privados %}form-group-private{% endif %}">
                            <label for="moneda" class="label-secondary">MONEDA DEL MONTO MENSUAL NETO{% if 'moneda' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Señalar tipo de moneda en que se recibe el beneficio.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field clientes_principales_form.moneda show_label=False%}
                        </div>
                    </div>
                    

                    <div class="col-md-12"><br></div>
                    <div class="col-md-6">
                      <div class="form-group {% if 'cat_pais' in campos_privados %}form-group-private{% endif %}">
                        <label for="ente-publico" class="label-secondary">Domicilio del cliente principal{% if 'cat_pais' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="País de ubicación de la Institución educativa.">
                          <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {%include  'layout/nacionalidad.html' with field=domicilio_form.cat_pais show_label=False%}
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group {% if 'cat_entidades_federativas' in campos_privados %}form-group-private{% endif %}">
                            <label for="moneda" class="label-secondary">ENTIDAD FEDERATIVA{% if 'cat_entidades_federativas' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar la entidad federativa.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field domicilio_form.cat_entidades_federativas show_label=False%}
                        </div>
                    </div>

                </div>

                <div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
                     <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
                       Guardar y agregar otro cliente
                         <img src="/static/src/img/plus.svg" alt="agregar" class="svg">
                     </button>
                 </div>
                <div class="col-12"><br></div>
                 <div class="col-12">
                      <div class="form-group {% if 'observaciones' in campos_privados %}form-group-private{% endif %}">
                          <label for="observaciones" class="label-secondary">Aclaraciones/ACLARACIONES/OBSERVACIONES{% if 'observacion' in campos_obligatorios %}<span class="text-danger text-lg font-weight-bold">*</span>{% endif %}</label>
                          <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="En este espacio el declarante podrá realizar las aclaraciones u observaciones que considere pertinentes respecto de algun o algunos de,los incisos de este apartado.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                          </button>
                          {% bootstrap_field observaciones_form.observacion show_label=False placeholder="ACLARACIONES/OBSERVACIONES" %}
                      </div>
                  </div>

                 {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}