{% include 'layout/headertop.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<section class="container">
  <div class="row row-md mt-4 ">
     <div class="col-2 ">
         <a href="{% url 'declaracion:busqueda-declarantes' %}" class="btn btn-success text-uppercase font-weight-semibold mx-3"><img src="{% static 'src/img/regresar.png' %}"> Regresar</a>
    </div>
    <div class="col-6">
        <h3 class="text-primary-light font-weight-semibold hyphen-auto">{{ result.nombre_completo|upper }}</h3>
    </div>
  </div>
  <div class="row row-md" style="margin-top: 2rem;">
    <div class="col-6 mb-5">
      <div class="pl-3 border-left text-dark mb-5">
        <p> Fecha de inicio: <strong class="text-black text-dynamic">{{ result.fecha_inicio|date:"D d M Y"|default_if_none:"----"}}</strong></p>
        <p> Entidad federativa de nacimiento: <strong class="text-black text-dynamic">{{ result.cat_entidades_federativas |default_if_none:"----"}}</strong></p>
        <p> Nombre ente público: <strong class="text-black text-dynamic">{{ result.nombre_ente_publico |default_if_none:"----"}}</strong></p>
        <p> Puesto: <strong class="text-black text-dynamic">{{ result.puesto |default_if_none:"----"}}</strong></p>
      </div>
    </div>
    <div class="col-6 mb-5">
      <div class="pl-3 border-left text-dark mb-5">
        <p> Fecha de nacimiento: <strong class="text-black text-dynamic">{{ result.fecha_nacimiento|date:"d M Y"|default_if_none:"----"}}</strong></p>
        <p> País de nacimiento: <strong class="text-black text-dynamic">{{ result.cat_pais |default_if_none:"----"}}</strong></p>
        <p> RFC: <strong class="text-black text-dynamic">{{ result.rfc|default_if_none:"----"}}</strong></p>
        <p> CURP: <strong class="text-black text-dynamic">{{ result.curp|default_if_none:"----"}}</strong></p>
      </div>
    </div>
  </div>
<div class="row row-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">FOLIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">AVANCE</th>
        <th scope="col">FECHA DE INICIO</th>
        <th scope="col">FECHA DE FIRMA</th>
        <th scope="col">HONORARIOS</th>
        <th scope="col">VER</th>
      </tr>
    </thead>
    <tbody>
    {% if declaraciones %}
      {% for ds in declaraciones %}
        <tr>
          <td scope="row">{{ ds.folio |default_if_none:"----"}}</td>
          <td>{{ ds.cat_estatus |default_if_none:"----" }}</td>
          <td>{{ ds.avance |default_if_none:"----" }}%</td>
          <td>{{ ds.fecha_declaracion |default_if_none:"----" }}</td>
          <td>{{ ds.fecha_recepcion |default_if_none:"----" }}</td>
          <td>{{ cargo.honorarios|yesno:"Si,No,Desconocido"|default_if_none:"----" }}</td>
            <td><a href="{%  url 'declaracion:info-declaracion' ds.pk 'declarante' %}"><img width="40px" src="{% static 'src/img/see_verde.png' %}"></a></td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="7" style="text-align: center !important;background: #e6f3bd;">
          <h5 style="color: #417505;">Este declarante aún no ha generado una declaración</h5>
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>
</section>

{% endblock %}
{% include 'layout/footer.html' %}