{% for declaracion in declaraciones %}
<table class="tg_d_completo">
  <colgroup>
    <col style="width: 61px">
    <col style="width: 97px">
    <col style="width: 83px">
    <col style="width: 159px">
    <col style="width: 96px">
    <col style="width: 141px">
    <col style="width: 138px">
  </colgroup>
  <tr>
    <th class="tg_d_completo-hx12" colspan="6" style="border-left: 2px solid;">{{declaracion.folio|default_if_none:""}}</th>
    <th class="tg_d_completo-hx12" style="padding-left: 30px;border-right:  2px solid;">{{declaracion.avance|default_if_none:"0"}}%</th>
  </tr>
  <tr>
    <td class="tg_d_completo-km2t" style="border-left: 2px solid;">Tipo</td>
    <td class="tg_d_completo-km2t">Estado</td>
    <td class="tg_d_completo-km2t">Patrimonial</td>
    <td class="tg_d_completo-km2t">Intereses</td>
    <td class="tg_d_completo-km2t">Fiscal</td>
    <td class="tg_d_completo-km2t">Fecha inicio</td>
    <td class="tg_d_completo-km2t" style="border-right: 2px solid;">Fecha cierre</td>
  </tr>
  <tr>
    <td class="tg_d_completo-zv4m" style="border-left: 2px solid;">{{declaracion.cat_tipos_declaracion.codigo|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.cat_estatus|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.patrimonial|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.intereses|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.fiscal|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.fecha_declaracion|date:"D d M Y"|default_if_none:"" }}</td>
    <td class="tg_d_completo-zv4m" style="border-right: 2px solid;">{{declaracion.fecha_recepcion|date:"D d M Y"|default_if_none:"" }}</td>
  </tr>
  <tr>
    <td class="tg_d_completo-u4qj" colspan="7" style="border-left: 2px solid;border-right: 2px solid;">Usuario: {{declaracion.info_personal_fija.nombre_completo|default_if_none:""}}</td>
  </tr>
  <tr>
    <td class="tg_d_completo-km2t" style="border-left: 2px solid;">Estado</td>
    <td class="tg_d_completo-km2t" colspan="2">Puesto</td>
    <td class="tg_d_completo-km2t" colspan="2">Correo</td>
    <td class="tg_d_completo-km2t">Ingreso</td>
    <td class="tg_d_completo-km2t"  style="border-right: 2px solid;">Ultima sesión</td>
  </tr>
  <tr style="border-bottom: 2px solid;">
    <td class="tg_d_completo-zv4m" style="border-left: 2px solid;">{{declaracion.info_personal_fija.usuario.is_active|yesno:"Activo,No activo"|default_if_none:"" }}</td>
    <td class="tg_d_completo-zv4m" colspan="2">{{declaracion.info_personal_fija.puesto|default_if_none:"" }}</td>
    <td class="tg_d_completo-zv4m" colspan="2">{{declaracion.info_personal_fija.usuario.email|default_if_none:"Sin correo"}}</td>
    <td class="tg_d_completo-zv4m">{{declaracion.info_personal_fija.usuario.date_joined|date:"D d M Y"|default_if_none:""}}</td>
    <td class="tg_d_completo-zv4m" style="border-right: 2px solid;">{{declaracion.info_personal_fija.usuario.last_login|date:"D d M Y"|default_if_none:""}}</td>
  </tr>
</table>
<br>
<br>
{% endfor %}